<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
 
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
 
    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>    
    <script src="cordova.js"></script>
 
    <!-- your app's js -->
    <script src="js/about.js"></script>
  </head>

  <body ng-app="starter" ng-controller="AboutController">
    <ion-side-menus>
      <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
          <ion-nav-back-button>
          </ion-nav-back-button>
          <ion-nav-buttons side="left">
            <button class="button icon ion-android-menu" style="background:transparent; border:none; color:white;"  menu-toggle="left"></button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent">
          <script id="templates/event-menu.html" type="text/ng-template"></script>  
          <script id="templates/home.html" type="text/ng-template"></script>
          <ion-header-bar style="background-color:rgba(0, 0, 255, 0.8);">
            <h1 class="title" style="text-align: center; color: white;">Sobre l'equip!</h1>
          </ion-header-bar>
          <ion-content>
            <h4></h4>
            <h3 style="text-align: center; font-size: 240%;">
              <b>GoOn!</b>
            </h3>
            </br>
            <h4 style="text-align: center;">
              Versió: 1.0.1
            </h4>
            </br>
            <h5>
              <b>Autors:</b> David Guerrero, Aleix Hernàndez, Victor Jaria, Mikel Orbea, Sergi Orra i Jordi Pastor.
            </h5>
            <h5>
              Projecte d'Enginyeria del Software
            </h5>
            <h5>
              Curs 2015/16
            </h5>
            <h5>
              Facultat d'Informàtica de Barcelona (UPC)
            </h5>
          </ion-content>
        </ion-nav-view>
      </ion-side-menu-content>

      <ion-side-menu side="left" >
        <ion-header-bar class="bar item-icon-left bar-positive" style="background-color:rgba(0, 0, 255, 0.8);">
          <i class="icon ion-home" style="top:1px;"></i>
          <h1 class="title" style="text-align: center" >Menú</h1>
        </ion-header-bar>
        <ion-content style="background-color:rgba(66, 133, 244, 0.2);">
          <ion-list>
            <ion-item menu-close class="item-icon-left" ng-click="mapa()">
              <i class="icon ion-android-map"></i>Mapa
            </ion-item>
            <ion-item menu-close class="item-icon-left" ng-click="semafor();">
              <i class="icon ion-alert"></i>Semàfors
            </ion-item>
            <ion-item menu-close class="item-icon-left" ng-click="autobus();">
              <i class="icon ion-android-bus"></i>Autobusos
            </ion-item>
            <ion-item menu-close class="item-icon-left" ng-click="changeMode();">
              <i class="icon ion-loop"></i>Canviar Mode
            </ion-item>
            <ion-item menu-close class="item-icon-left">
              <i class="icon ion-help-circled"></i>Sobre l'equip
            </ion-item>
            <ion-item menu-close class="item-icon-left" ng-click="logOut()";>
              <i class="icon ion-power"></i>Tancar sessió
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu-content>
    </ion-side-menus>

  </body>
</html>