<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
 
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
 
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
 
    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>    
    <script src="cordova.js"></script>
 
    <!-- your app's js -->
    <script src="js/map.js"></script>
  </head>
  <body ng-app="starter"  ng-controller="MapController">

    <ion-side-menus>
      <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
          <ion-nav-back-button>
          </ion-nav-back-button>
          <ion-nav-buttons side="left">
            <button id="menulateral" class="button icon ion-navicon button-positive"  menu-toggle="left"></button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent">
          <script id="templates/event-menu.html" type="text/ng-template"></script>  
          <script id="templates/home.html" type="text/ng-template"></script>
          <ion-header-bar class="bar-positive">
            <h1 class="title" style="text-align: center">Mapa</h1>
          </ion-header-bar>
          <ion-content>
            <div id="marker-menu" class="">
              <button id="place-barrier" class="button icon ion-minus-circled button-full button-positive" ng-click="barrierON()"> Warn of an architectural barrier</button>
              <button id="origin-marker" class="button icon ion-location button-full button-positive" ng-click="originON()"> Set this point as the origin of a route</button>
              <button id="destination-marker" class="button icon ion-location button-full button-positive" ng-click="destinationON()"> Set this point as the destination of a route</button>
              <button id="restart-menu" class="button icon ion-refresh button-full button-positive" ng-click="restartON()"> Restart origin and destination </button>   
            </div>
            <button id="appearSearchBox" class="button icon ion-map  button-positive" ng-click="askRouteTap()"></button>
            <div id="map" data-tap-disabled="true"></div>
            <div id="panel"></div>
            <div id="route-panel" ng-show="visible == 1">
			  <button id="use-my-position" class="button icon ion-ios-location  button-positive" ng-click="useMyPosition()"></button>
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input id="pac-input-origin" class="controls" type="text" placeholder="Origin" autocomplete="off" ng-focus="disableOriginTap()">
              </label>
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input id="pac-input-destination" class="controls" type="text" placeholder="Destination" autocomplete="off"  ng-focus="disableDestinationTap()"/>
              </label>
              <button id="create_route" class="button icon-right ion-ios-navigate button-positive" ng-click="getRouteTap()">Go!</button>
            </div>    
            <script src="https://maps-api-ssl.google.com/maps/api/js?libraries=places"></script>
          </ion-content>
        </ion-nav-view>
      </ion-side-menu-content>

      <ion-side-menu side="left" >
        <ion-header-bar class="bar-stable">
          <h1 class="title" style="text-align: center" >Menu</h1>
        </ion-header-bar>
        <ion-content>
          <ion-list>
            <ion-item menu-close ng-click="semafors();">
              Semàfors
            </ion-item>
            <ion-item menu-close href="#/event/check-in">
              Autobusos
            </ion-item>
            <ion-item menu-close ng-click="changeMode();">
              Canviar Mode
            </ion-item>
            <ion-item menu-close href="#/event/check-in">
              Info
            </ion-item>
            <ion-item menu-close href="#/event/check-in">
              About
            </ion-item>
            <ion-item menu-close href="#/event/check-in">
              Log Out
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu-content>
    </ion-side-menus>
  </body>
</html>