<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
 
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
 
    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>    
    <script src="cordova.js"></script>
 
    <!-- your app's js -->
    <script src="js/map.js"></script>

    <!-- DROPDOWN -->
    <link href="css/drop-down.css" rel="stylesheet">
    <script src="js/drop-down.js"></script>
  </head>

  <body ng-app="starter" ng-controller="MapController">
  	<div id="loading" style="display:none">
  		<ion-spinner icon="android"></ion-spinner>
  	</div>

    <ion-side-menus>
      <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
          <ion-nav-back-button>
          </ion-nav-back-button>
          <ion-nav-buttons side="left">
            <button class="button icon ion-android-menu" style="background:transparent; border:none; color:white;"  menu-toggle="left"></button>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
            <button class="button button-icon" ng-click="showMenu($event)">
              <i class="icon ion-information-circled" style="background:transparent; border:none; color:white;" ></i>
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent">
          <script id="templates/event-menu.html" type="text/ng-template"></script>  
          <script id="templates/home.html" type="text/ng-template"></script>
          <ion-header-bar style="background-color:rgba(0, 0, 255, 0.8);">
            <h1 class="title" style="text-align: center; color: white;">GoOn!</h1>
          </ion-header-bar>
          <ion-content>
            <div id="barrier-form" class="list">
              <div id="description" class="item item-input-inset">
                <label class="item-input-wrapper">
                  <input id="description_input" type="text" placeholder="Description">
                </label>
              </div>
              <div id="email" class="item item-input-inset">
                <button class="button button-small" ng-click="submitBarrier()">
                  Enviar
                </button>
              </div>
            </div>
            <div id="marker-menu" class="">
              <button id="place-barrier" class="button icon ion-minus-circled button-full button-positive" ng-click="barrierON()"> Avís de barrera arquitectònica</button>
              <button id="origin-marker" class="button icon ion-location button-full button-positive" ng-click="originON()"> Indicar com a punt d'origen</button>
              <button id="destination-marker" class="button icon ion-location button-full button-positive" ng-click="destinationON()"> Indicar com a punt de destinació</button>
              <button id="restart-menu" class="button icon ion-refresh button-full button-positive" ng-click="restartON()"> Reestablir origen i destí </button>   
            </div>
            <button id="appearSearchBox" class="button icon ion-map  button-positive" ng-click="askRouteTap()"></button>
            <div id="map" data-tap-disabled="true"></div>
            <div id="panel"></div>
            <div id="route-panel" ng-show="visible == 1">
			  <button id="use-my-position" class="button icon ion-ios-location  button-positive" ng-click="useMyPosition()"></button>
              <label class="item item-input" style="background-color: #fff;">
                <i class="icon ion-search placeholder-icon"></i>
                <input id="pac-input-origin" class="controls" type="text" placeholder="Origen" autocomplete="off" ng-focus="disableOriginTap()">
              </label>
              <label class="item item-input" style="background-color: #fff;">
                <i class="icon ion-search placeholder-icon"></i>
                <input id="pac-input-destination" class="controls" type="text" placeholder="Destinació" autocomplete="off"  ng-focus="disableDestinationTap()"/>
              </label>
              <button id="create_route" class="button icon-right ion-ios-navigate button-dark" ng-click="getRouteTap()">Go!</button>
              
            </div>    
            <script src="https://maps-api-ssl.google.com/maps/api/js?libraries=places"></script>
          </ion-content>
        </ion-nav-view>
      </ion-side-menu-content>

      <ion-side-menu side="left" >
        <ion-header-bar class="bar item-icon-left bar-positive" style="background-color:rgba(0, 0, 255, 0.8);">
          <i class="icon ion-home" style="top:1px;"></i>
          <h1 class="title" style="text-align: center" >Menú</h1>
        </ion-header-bar>
        <ion-content style="background-color:rgba(66, 133, 244, 0.2);">
          <ion-list>
            <ion-item menu-close class="item-icon-left">
              <i class="icon ion-android-map"></i>Mapa
            </ion-item>
            <ion-item menu-close class="item-icon-left" ng-click="semafor();">
              <i class="icon ion-alert"></i>Semàfors
            </ion-item>
            <ion-item menu-close class="item-icon-left" ng-click="autobus();">
              <i class="icon ion-android-bus"></i>Autobusos
            </ion-item>
            <ion-item menu-close class="item-icon-left" ng-click="changeMode();">
              <i class="icon ion-loop"></i>Canviar Mode
            </ion-item>
            <ion-item menu-close class="item-icon-left" ng-click="about();">
              <i class="icon ion-help-circled"></i>Sobre l'equip
            </ion-item>
            <ion-item menu-close class="item-icon-left" ng-click="logOut()";>
              <i class="icon ion-power"></i>Tancar sessió
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu-content>
    </ion-side-menus>

  </body>
</html>